// Normalize.css by Necolas
@import 'src/normalize';

// Global Variables
:root {
	// Fonts
	--font-family-text: 'Roboto Flex', sans-serif;
	--font-family-heading: 'Roboto Slab', serif;
	--font-family-code: 'Roboto Mono', monospace;

	// Font sizes
	--font-size-small: 0.875rem;
	--font-size-normal: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400;8..144,700&family=Roboto+Mono&family=Roboto+Slab:wght@500&display=swap');

// Embedded styles (no class needed)
@import 'src/typo';