// Variables

// Styles

%body {
	font-family: var(--font-family-text);
	font-size: var(--font-size-normal);
}

%heading {
	font-family: var(--font-family-heading);
	--font-size-h6: 1rem;
	--font-size-h5: 1.25rem;
	--font-size-h4: 1.5rem;
	--font-size-h3: 1.75rem;
	--font-size-h2: 2rem;
	--font-size-h1: 2.25rem;
}

%fineprint {
	font-size: var(--font-size-small);
}

%link {
	color: inherit;
	border: 1px solid transparent;

	&:hover,
	&:focus {
		opacity: 0.5;
	}
}

// Elements

a {
	@extend %link;
}

abbr {
	// defines an abbreviation or an acronym
}

address {
	// defines contact information for the author/owner of a document
}

article {
	// defines an article
}

aside {
	@extend %fineprint;
}

audio {
	// defines embedded sound content
}

b {
	// defines bold text
}

blockquote {
	// defines a section that is quoted from another source
}

body {
	@extend %body;
}

br {
	// defines a single line break
}

button {
	// defines a clickable button
}

caption {
	// defines a table's caption
}

cite {
	// defines the title of a work
}

code {
	// defines a piece of computer code
}

datalist {
	// specifies a list of pre-defined options for input controls
}

dd {
	// defines a description / value of a term in a description list
}

del {
	// defines text that has been deleted from a document
}

details {
	// defines additional details that the user can view or hide
}

div {
	// defines a section in a document
}

dl {
	// defines a description list
}

dt {
	// defines a term / name in a description list
}

em {
	// defines emphasized text
}

fieldset {
	// groups related elements in a form
}

figcaption {
	@extend %fineprint;
}

figure {
	// specifies self-contained content
}

footer {
	@extend %fineprint;
}

form {
	// defines an HTML form for user input
}

h1 {
	@extend %heading;
	font-size: var(--font-size-h1);
}

h2 {
	@extend %heading;
	font-size: var(--font-size-h2);
}

h3 {
	@extend %heading;
	font-size: var(--font-size-h3);
}

h4 {
	@extend %heading;
	font-size: var(--font-size-h4);
}

h5 {
	@extend %heading;
	font-size: var(--font-size-h5);
}

h6 {
	@extend %heading;
	font-size: var(--font-size-h6);
}

header {
	// defines a header for a document or section
}

hr {
	// defines a thematic change in the content
}

i {
	// defines a part of text in an alternate voice or mood
}

img {
	// defines an image
}

input {
	// defines an input control
}

ins {
	// defines a text that has been inserted into a document
}

kbd {
	// defines keyboard input
}

label {
	// defines a label for an input element
}

legend {
	// defines a caption for a fieldset element
}

li {
	// defines a list item
}

main {
	// specifies the main content of a document
}

mark {
	// defines marked / highlighted text
}

meter {
	// defines a scalar measurement within a known range (a gauge)
}

nav {
	// defines navigation links
}

ol {
	// defines an ordered list
}

optgroup {
	// defines a group of related options in a drop-down list
}

option {
	// defines an option in a drop-down list
}

output {
	// defines the result of a calculation
}

p {
	// defines a paragrap
}

picture {
	// defines a container for multiple image resources
}

pre {
	// defines preformatted text
}

progress {
	// represents the progress of a task
}

q {
	// defines a short quotation
}

s {
	// defines text that is no longer correct
}

samp {
	// defines sample output from a computer program
}

section {
	// defines a section in a document
}

select {
	// defines a drop-down list
}

small {
	// defines smaller text
	@extend %fineprint;
}

span {
	// defines a section in a document
}

strong {
	// defines important text
}

sub {
	// defines subscripted text
}

summary {
	// defines a visible heading for a details element
}

sup {
	// defines a superscripted text
}

table {
	// defines a table
}

td {
	//defines a cell in a table
}

textarea {
	// defines a multiline input control (text area)
}

th {
	// defines a header cell in a table
}

u {
	// defines some text that is unarticulated and styled differently from normal text
}

ul {
	// defines an unordered list
}

video {
	// defines embedded video content
}